*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    color: rgb(188, 107, 0);
    gap: 15px;
    font-size: 25px;
}    
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 40px;
    border: 2px solid rgb(188, 107, 0);
    padding: 2px;
}
   
.nav-links{
    display: flex;
    align-items: center;
    height: 70px;
}
.nav-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 17px;
    color: rgb(188, 107, 0);
    height: 50px;
    width: 80px;
    border-radius: 10px;
}
a:hover{
   background-color: rgb(255, 140, 0);
   color: rgb(255, 255, 255);
   box-shadow: 0 0 5px rgb(0, 0, 0);
}

/* hero section */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(chaipatti.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}    
.hero h1{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 55px;
}
.hero p{
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.hero button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(159, 88, 0);
}