*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(39, 39, 39);
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero img{
    margin-bottom: 10px;
}
.hero h1{
    margin-bottom: 10px;
    color: rgb(219, 65, 65);
}
.hero img{
    height: 100px;
    width: 100px;
}
.hero p{
    color: rgb(88, 88, 88);
    font-size: 15px;
}
.price{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.cont{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 600px;
    border-radius: 15px;
    margin: 15px;
}
.feature{
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    color: rgb(252, 252, 252);
}
.feature p{
    margin: 18px;
}
.cont button{
    width: 70%;
    height: 50px;
    border-radius: 15px;
    font-size: 15px;
}
.pop{
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
    width: 65%;
    height: 40px;
    text-align: center;
    padding: 8px;
    top: -22px;
    background-color: rgb(255, 225, 0);
    border: none;
}
.cont img{
    height: 60px;
    width: 60px;
}
.price-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 80px;
    width: 70%;
    border-radius: 15px; 
    background-color: rgba(51, 48, 48, 0.642);
}
.price-tag h1{
    margin-bottom: 10px;
}

.tag{
    color: rgb(255, 255, 255);
}
.cross{
    color: rgba(73, 69, 69, 0.722);
}
.mrp{
   color: rgb(229, 83, 83);
}
.mrpd{
   color: rgb(246, 212, 64);
}
.month{
    color: rgb(153, 147, 147);
}

.Champion{
    border:2px solid rgb(246, 212, 64);
    background-color: rgba(246, 213, 64, 0.13);
}
.Warrior{
    border:2px solid rgb(228, 52, 52);
    background-color:rgba(228, 52, 52, 0.167);
}
.Beginner{
    border:2px solid rgb(71, 71, 71);
    background-color: rgba(33, 30, 30, 0.395)
}
.cham-b{
    background-color: rgba(0, 0, 0, 0);
    border:2px solid rgb(246, 212, 64);
    color: rgb(246, 212, 64);
}
.war-b{
    background-color: rgba(0, 0, 0, 0);
    border:2px solid  rgb(228, 52, 52);
    color:  rgb(228, 52, 52);
}